@import url('https://fonts.cdnfonts.com/css/assistant');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap');

@font-face {
  font-family:'Assistant', sans-serif;
  src: url('https://fonts.cdnfonts.com/css/assistant')
}

@font-face {
  font-family:'Assistant', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap')
}

@font-face {
  font-family: "Assistant-Light-300";
  src: url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap");
}
@font-face {
  font-family: "Assistant-Light-500";
  src: url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap");
}
@font-face {
  font-family: "Assistant-Light-700";
  src: url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap");
}

@font-face {
  font-family: "Assistant-Light-800";
  src: url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap");
}

* {
  font-family: 'Assistant', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700;800&display=swap');
}

.headingtext{ font-family: "Assistant"; font-size: 45px; font-weight: 700}
.subheadingtext{ font-family: "Assistant"; font-size: 17px;font-weight: 500}
.smallheadingtext{ font-family: "Assistant"; font-size: 14px;font-weight: 300}

.bg-primary {
  background-color: white !important;
}


body,
html {
  overflow-x: hidden;
  font-family: 'Assistant', sans-serif;
}
.text-blue {
  color: #0773ba !important;
}
.section-3 img {
  border: 5px solid #0773ba;
}
.z-200 {
  z-index: 200;
}

.header,
footer {
  background-color: #7bb13d;
  z-index: 1000 !important;
}
.bg-bottom {
  bottom: 0;
  left: 100%;
  width: 100%;
  z-index: 100;
}
/* .header a {
  color: white !important;
} */
.logo {
  width: 50px;
  border-radius: 0px;
}

.big {
  width: 400px;
  height: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}
.small {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

.title {
  font-family: "open-sans-hebrew-extrabold";
  font-size: 3.5rem;
  direction: rtl;
  color: #0773ba !important;
}
p {
  font-size: 20px;
  direction: rtl;
}
/* .section-2 {
  padding: 250px 0 150px 0;
} */
.section-2 {
  padding: 120px 0 30px 0;
}

.section-3 {
  padding: 120px 0 30px 0;
}

.rtl {
  direction: rtl;
}

.section-4 {
  padding: 120px 0 30px 0;
}
iframe {
  width: 100%;
  height: 500px;
}

.section-5 {
  padding: 120px 0 30px 0;
}

.section-6 {
  padding: 120px 0 30px 0;
}

.section-title,
.semi-title {
  color: #0773ba !important;
}

.bg-footer {
  background-color: #b17930;
}

.f-logo {
  width: 100px;
}

span.select2-selection.select2-selection--single {
  height: 70px;
  display: flex;
  align-items: center;
  border-radius: 0;
  border: unset;
  font-size: 24px;
  direction: rtl;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 24px;
  right: 9%;
  width: 20px;
display: none;
}

.select2-container .select2-selection--single .select2-selection__rendered{padding-right: 12px}

.select {
  /* background-image: url("../img/dropdown.png");*/
  background-size: 7px;
  background-position: 99.4%;
  background-repeat: no-repeat;
  padding-right: 12px;
}

span.select2.select2-container.select2-container--default {
  max-width: 100%;
}
.f-logo {
  width: 150px;
}

li.select2-results__option {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}
.fs-12 {
  font-size: 9px;
}
.fa-circle {
  position: relative;
  bottom: 4px;
}

 /* ================================================= */

.banner-content {
            /*position: absolute;
            z-index: 999;
            bottom: 30px;
            left: 14%;
            transform: translate(209px, 0);*/
            width: 80%;
            text-align: right;
            
            color: black;
            line-height: 1.5;
        }

        .img-content img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .overlay {
            /*position: absolute;
            top: 0;
            left: 0;*/
            width: 100%;
            opacity: .8;
            z-index: 999;
            height: 100%;
        }
.gradient-bg {
height: auto;
    background-color: #80808000;
    background-image: linear-gradient(to right, #999696 , #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    Opacity: 100%;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #E7E7E7;
}

.top-marjin-80{margin-top: 80px;}

.phoneinput{    width: 100%;    padding: 20px 10px;    border: 1px solid #e1e1e1;}

.question {
    background-color: #FFFFFF;
    border-radius: 20px;
	border: 1px solid #E7E7E7;
    padding: 15px;
    margin: 30px 0 ;
}

.input-form{width: 100%;    padding: 20px 10px;    border: 1px solid #e1e1e1; text-align: right}

 /* ================================================= */

@media screen and (max-width: 1440px) {

}
@media screen and (max-width: 1400px) {
.headingtext{ font-family: "Assistant"; font-size: 45px; font-weight: 700}
.subheadingtext{ font-family: "Assistant"; font-size: 17px;font-weight: 500}
.smallheadingtext{ font-family: "Assistant"; font-size: 14px;font-weight: 300}
	
}

@media screen and (max-width: 1024px) {
	
	.gradient-bg {margin: 54px; width: 100%}
}

@media screen and (max-width: 992px) {

	
}


@media screen and (max-width: 768px) {

.headingtext{ font-family: "Assistant"; font-size: 35px; font-weight: 700}
.subheadingtext{ font-family: "Assistant"; font-size: 17px;font-weight: 500}
.smallheadingtext{ font-family: "Assistant"; font-size: 13px;font-weight: 300}
	.gradient-bg {margin: 0px; width: 100%}
}

@media screen and (max-width: 540px) {
	
	.gradient-bg {margin: 0px; width: 100%}
}

@media screen and (max-width: 425px) {
	.banner-content {
            /*position: absolute;
            z-index: 999;
            bottom: 30px;
            left: 14%;
            transform: translate(-30px, 0);*/
            width: 80%;
            text-align: right;
            
            color: black;
            line-height: 1.5;
        }

        .img-content img {
            width: 100%;
            height: 100%;
            display: block;
        }

        .overlay {
           /* position: absolute;
            top: 0;
            left: 0;*/
            width: 100%;
            opacity: .8;
            z-index: 999;
            height: 100%;
        }
.gradient-bg {
height: auto;
    background-color: #8080807a;
    background-image: linear-gradient(to right, #999696 , #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
    Opacity: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #EAEAEA;
	margin: 3% 0%;
}

.top-marjin-80{margin-top: 80px;}
.headingtext{ font-family: "Assistant"; font-size: 25px; font-weight: 700}
.subheadingtext{ font-family: "Assistant"; font-size: 17px;font-weight: 500}
.smallheadingtext{ font-family: "Assistant"; font-size: 12px;font-weight: 300}
}

@media screen and (max-width: 375px) {
	
	.gradient-bg {margin: 3% 0%;}
}

@media screen and (max-width: 320px) {
	
	.gradient-bg {margin: 3% 0%;}
}

	
/* custom code added by rehman */
.disabled-button {
  /* Apply styles to make the button appear disabled */
  pointer-events: none; /* This will prevent clicks on the button */
  opacity: 0.6; /* Lower the opacity to make it look disabled */
  cursor: not-allowed; /* Set a 'not-allowed' cursor when hovering over the button */
}
